.popup__close-icon {
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 0;
}

.popup__close-icon:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease-in;
}

@media screen and (max-width: 767px) {
  .popup__close-icon {
    top: -30px;
    right: 0;
    width: 20px;
    height: 20px;
    margin-bottom: 16px;
  }
}
