.profile {
  color: #fff;
  display: grid;
  grid-template-areas: "image info add-button";
  grid-template-columns: 120px 336px auto;
  padding: 40px 0 50px;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  .profile {
    display: flex;
    flex-direction: column;
  }
}
