.profile__info {
  text-align: left;
  grid-area: info;

  display: grid;
  grid-template-areas:
    "title edit-btn"
    "subtitle subtitle";
  max-width: 336px;
  gap: 16px 18px;
}

@media screen and (max-width: 767px) {
  .profile__info {
     margin: 0 auto;
     gap: 14px 10px;
  }
}