.popup__input {
  border: 1px solid rgb(0,0,0, 0.2);
  border-top: 0;
  border-right: 0;
  border-left: 0;
  margin: 0 auto;
  padding: 0 0 13px 0;
  width: 100%;
}

.popup__input:first-child {
  margin-top: 54px;
}

.popup__input::placeholder {
  /* opacity: 1; */
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 767px) {
  .popup__input {
    margin-top: 75px;
    width: 238px;
  }
}
